.container {
  margin-top: 1rem;

  .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .recipes {
    margin-top: 3rem;
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    row-gap: 2rem;
  }
}
