$backgroundColor: #254441;
$backgroundColor2: #43aa8b;
$backgroundColor3: #ebf5ee;

$accentColor: #9ceaef;
$accentColor2: #07beb8;
$shadowColor: #103a48;
$textColorPrimary: #191a1b;
$textColorSecondary: rgba(0, 0, 0, 0.45);
$textColorLight: rgba(255, 255, 255, 0.9);

$errorColor: #ffe0b5;
$errorColor2: #6b0101;
