$backgroundColor: #254441;
$backgroundColor2: #43aa8b;
$backgroundColor3: #ebf5ee;

$accentColor: #ff6f59;
$accentColor2: #ef3054;
$primaryColor: #191a1b;
$textColorSecondary: rgba(0, 0, 0, 0.45);
$textColorPrimary: white;
$textColorSub: #74cb20;
